/*CSS reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

/*Created root variables for all page colors. */
:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --bg-text: hsl(0, 0%, 95%);
}

/*Set background color for body. */
body {
    background-color: var(--bg-text);
    width: 100%;
}

#bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    padding-top: 90px;
    padding-bottom: 90px;
}

.sedans-box {
    background-color: var(--bright-orange);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 3.33em;
}

.suv-box {
    background-color: var(--dark-cyan);
    padding: 3.33em;
}

.luxury-box {
    background-color: var(--very-dark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3.33em;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    color: var(--bg-text);
    padding-top: 40px;
    padding-bottom: 40px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--paragraphs);
    padding-bottom: 30px;
    line-height: 1.5em;
}

button {
    border: none;
    background-color: var(--bg-text);
    cursor: pointer;
    width: 150px;
    height: 45px;
    border-radius: 50px;
}

#sedan-btn {
    color: hsl(31, 77%, 52%);
}

#suv-btn {
    color: hsl(184, 100%, 22%);
}

#luxury-btn {
    color: hsl(179, 100%, 13%);
}

#sedan-btn:hover {
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: var(--bright-orange);
}

#suv-btn:hover {
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: var(--dark-cyan);
}

#luxury-btn:hover {
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: var(--very-dark-cyan);
}


@media only screen and (min-width: 900px) {

    .main-container {
        display: flex;
        flex-direction: row;
        max-width: 75vw;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .sedans-box {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }

    .luxury-box {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
}