/*CSS reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --bg-text: hsl(0, 0%, 95%);
}

body {
    background-color: var(--bg-text);
}