/*CSS reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

/*Created root variables for all page colors. */
:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --bg-text: hsl(0, 0%, 95%);
}

/*Set background color for body. */
body {
    background-color: var(--bg-text);
    max-width: 375px;
}

#bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    padding-top: 90px;
    padding-bottom: 90px;
}

.sedans-box {
    background-color: var(--bright-orange);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 3.33em;
}

.suv-box {
    background-color: var(--dark-cyan);
    padding: 3.33em;
}

.luxury-box {
    background-color: var(--very-dark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3.33em;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--bg-text);
    padding-top: 2.6em;
    padding-bottom: 2.6em;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--paragraphs);
    padding-bottom: 1.6em;
}